<h1>All Pizza Orders</h1>

<% for pizza_order in @pizzas %>

<p>Name: <%= pizza_order.pretty_name() %></p>
<p>Order: <%= pizza_order.quantity %> x <%= pizza_order.topping %></p>
<p> <a href="/pizza-orders/<%= pizza_order.id %>">view order detials</a> </p>
<hr />

<% end %>
